@import url(/styles/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 375px;
}

div img {
  width: 100%;
  height: 100%;
}

.hero img,
footer img {
  width: auto;
  height: auto;
}

/* Color palette */
:root {
  --bg-soft-red: hsl(7, 99%, 70%);
  --bg-yellow: hsl(51, 100%, 49%);
  --bg-footer: hsl(168, 34%, 41%);

  --text-photography: hsl(198, 62%, 26%);
  --text-graphic: hsl(167, 40%, 24%);
  --text-testimonial: hsl(213, 9%, 39%);
  --heading-testimonial: hsl(210, 4%, 67%);

  --color-primary: hsl(0, 0%, 100%);
  --color-secondary: hsl(212, 27%, 19%);
  --color-accent: hsl(232, 10%, 55%);
}

/* Typography */
body {
  font-size: 1.8rem;
  text-align: center;
  font-family: "Fraunces", serif;
}

h1 {
  color: var(--color-primary);
  font-size: 4rem;
  letter-spacing: 0.2em;
  margin: 0.6em 0 1.5em;
  text-transform: uppercase;
}

h2 {
  color: var(--color-secondary);
  font-size: 3.5rem;
  font-weight: 900;
  margin: 1.5em 1.1em 3rem;
}

.graphic-section,
.graphic-section h2 {
  color: var(--text-graphic);
}

.photography-section,
.photography-section h2 {
  color: var(--text-photography);
}

.testimonial h2 {
  margin-left: 0;
  margin-right: 0;
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 0.2em;
  color: var(--heading-testimonial);
}

p,
ol,
.open ol,
.client__detail,
footer {
  font-family: "Barlow", sans-serif;
}

p {
  max-width: 450px;
  line-height: 1.6em;
  margin: 0 1.5em 2em;
}

.brand p {
  color: var(--color-accent);
}

.open ol {
  color: var(--color-accent);
  background-color: var(--color-primary);
}

.active {
  font-family: "Fraunces", serif;
  font-size: 0.8em;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--color-secondary);
  background-color: var(--bg-yellow);
  padding: 1em 1.8em;
  border-radius: 100px;
  opacity: 1;
}

.active:hover {
  color: var(--bg-yellow);
  background-color: black;
}

.client__detail {
  color: var(--heading-testimonial);
}

.name {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.2em;
  color: var(--color-secondary);
}

@media screen and (min-width: 600px) {
  .grid .brand:first-of-type {
    order: -1;
  }

  .open ol {
    color: var(--color-primary);
    background-color: transparent;
  }

  .active {
    color: black;
    background-color: var(--color-primary);
  }

  .active:hover {
    color: var(--color-primary);
    background-color: hsla(0, 0%, 100%, 0.403);
  }
}

/* header */
nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 0;
  padding: 1.5em 1.2em;
  min-width: 375px;
}

.hamburger-menu {
  width: 25px;
  height: 20px;
}

ol {
  color: var(--color-primary);
  display: none;
  margin: 0;
  padding: 0;
}

.open ol {
  position: absolute;
  top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  gap: 1.5em;
  padding: 1.8em;
}

.open ol::before {
  position: absolute;
  content: "";
  border: 3rem solid transparent;

  border-right: 3rem solid var(--color-primary);
  top: -3rem;
  right: 0;
}

li {
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
}

li:hover {
  opacity: 1;
}

.hero {
  background: url(/images/mobile/image-header.jpg) no-repeat center;
  background-size: cover;
  height: 80vh;
  display: grid;
  place-content: center;
  place-items: center;
}

@media screen and (min-width: 600px) {
  nav {
    padding: 1.5em 2.2em;
  }

  .hamburger-menu {
    display: none;
  }

  ol,
  .open ol {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    padding: 0;
    gap: 2em;
  }

  .open ol::before {
    border-right: none;
  }

  .hero {
    background-image: url(/images/desktop/image-header.jpg);
  }
}

/* button */
.button {
  position: relative;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: var(--color-secondary);
  font-weight: 900;
  margin-bottom: 5rem;
}

.button--yellow {
  --border-color: var(--bg-yellow);
}

.button--red {
  --border-color: var(--bg-soft-red);
}

.button::after {
  position: absolute;
  content: "";
  border: 5px solid var(--border-color);
  border-radius: 100px;
  left: -10px;
  right: -10px;
  bottom: -1px;
  opacity: 0.4;
  z-index: -1;
}

.button:hover::after {
  opacity: 0.8;
}

/* grid */
.grid {
  display: grid;
}

.grid--1x3 {
  gap: 5rem;
}

.grid--1x4 {
  grid-template-columns: repeat(2, 1fr);
}

/* section */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graphic-section,
.photography-section {
  justify-content: flex-end;
  height: 100vh;
  padding-bottom: 1em;
}

.graphic-section {
  background: url(/images/mobile/image-graphic-design.jpg) no-repeat center;
  background-size: cover;
}

.photography-section {
  background: url(/images/mobile/image-photography.jpg) no-repeat center;
  background-size: cover;
}

@media screen and (min-width: 600px) {
  section.brand {
    align-items: flex-start;
    padding: 12.5%;
    gap: 2.2em;
  }

  section.brand > * {
    text-align: left;
    margin: 0;
  }

  .grid--2x3 {
    grid-template-columns: repeat(2, 1fr);
  }

  .graphic-section {
    background: url(/images/desktop/image-graphic-design.jpg) no-repeat center;
    background-size: cover;
  }

  .photography-section {
    background: url(/images/desktop/image-photography.jpg) no-repeat center;
    background-size: cover;
  }
}

@media screen and (min-width: 800px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--1x4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*  Testimonial */
.testimonial {
  max-width: 1200px;
  margin: 3em 1.5em 5em;
  padding: 0 1.5em;
  color: var(--text-testimonial);
}

.testimonial img {
  width: 90px;
  height: 90px;
  border-radius: 100px;
  margin: 1em 0;
}

.testimonial p {
  margin-left: auto;
  margin-right: auto;
}

.client {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.client__detail {
  display: grid;
  gap: 1rem;
}

@media screen and (min-width: 800px) {
  .testimonial {
    margin: 6em auto;
  }
}

/* Footer */
footer {
  padding: 6rem 0;
  color: var(--text-graphic);
  background-color: var(--bg-footer);
}

svg path {
  fill: var(--text-graphic);
}

ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 0;
}

footer div {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 6rem;
}

footer li:hover {
  color: var(--color-primary);
}

footer div svg path:hover {
  fill: var(--color-primary);
}
